@font-face {
  font-family: 'Xylarion';
  src: url('/src/assets/font/XylarionBold.ttf');
}
/* Body */
body {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

/* Memory Game Container */
.memory-game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15%;
}

/* Memory Game */
.memory-game {
  display: grid;
  grid-template-columns: repeat(6, 100px);
  grid-gap: 10px;
}

/* Card */
.card {
  width: 100px;
  height: 100px;
  perspective: 1000px;
  cursor: pointer;
}

.card-inner {
  width: 100%;
  height: 100%;

  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
  color: azure;
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
  position: absolute;
    backface-visibility: hidden;
}

.card-front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-front img {
  width: 100%;  /* L'image prendra toute la largeur de la carte */
  height: 100%; /* L'image prendra toute la hauteur de la carte */
  object-fit: cover; /* L'image s'ajustera pour couvrir la carte */
}

.card-back {
    background-color: #53E9AA;
}

.card-back img {
  width: 100%; /* La largeur du GIF sera égale à celle de la carte */
  height: 100%; /* La hauteur du GIF sera égale à celle de la carte */
  object-fit: cover; /* Le GIF s'ajustera pour couvrir toute la carte */
}

/* Buttons */
button {
  margin-top: 25px;
}

/* Basic Styling */
.game-title{
  display: flex;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  align-items: center;
  font: normal bold  / 1 '';
  background-color: black;
  padding-top: 15px;
}
.game-title{
  background-image: url(https://scitechdaily.com/images/White-Dwarf-Star-With-Planet.jpg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Xylarion;
  font-size: 80px;
  animation: animatedText 10s infinite alternate-reverse;
}

@keyframes animatedText{
  from{
    background-position: 18%;
  }
  to{
    background-position: 85%;
  }}